html, body {
    height: 100%;
    margin: 0;
}

body {
    position: relative;
}

/* Navbar Styling */
.navbar .logo img {
    height: 40px;
    max-width: 100%; 
    vertical-align: middle; 
    margin: 5px;
}

.navbar {
    box-shadow: 0 4px 10px rgba(230, 157, 184, 0.5); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

.navbar-light .navbar-nav .nav-link {
    color: #000; 
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #E69DB8; 
}

.navbar-nav {
    align-items: end !important;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
    position: relative;
}

/* HOME */
.hero-section {
    position: relative;
    min-height: 90vh;
    padding: 120px 0 60px; 
    overflow: hidden;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 33.33%; /* 4/12 of the width */
    background-color: #E69DB8;
    z-index: -1;
}

.hero-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 0;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.hero-name {
    font-size: 3.5rem;
    color: #E69DB8;
    font-weight: bold;
    margin: 10px 0;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.hero-subtitle {
    font-size: 1.40rem;
    color: #666;
    margin-bottom: 20px;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.hero-socials {
    margin-top: 50px;
    margin-bottom: 20px;
}

.social-icon {
    font-size: 1.5rem;
    color: #E69DB8;
    margin: 0 10px;
    text-decoration: none;
}

.social-icon:hover {
    color: #c5809a;
}

.btn-custom {
    background-color: #E69DB8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-custom:hover {
    background-color: #c5809a;
    color: #fff;
}

.image-wrapper {
    position: absolute;
    left: 66.67%;
    /* bottom: 0; */
    top: 50%;
    transform: translateY(-50%);
    width: 66.67%;
    margin-top: 45%;
}

.hero-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 0;
    margin-right: 0;
    min-height: 500px; 
    min-width: 500px;
}

.hero-section .col-md-4 {
    position: relative;
    min-height: 100%;
    width: 33.33%; 
}

.hero-section .col-md-8 {
    justify-content: center;
    margin-top: 50px;
}

#home .btn {
    background-color: #E69DB8;
    border: none;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* Responsive */
@media (min-width: 768px) {
    .hero-section .row {
        position: relative;
        z-index: 1;
    }
    .hero-section::before {
        width: 33.33%; /* 4/12 of the width */
    }
    .image-wrapper {
        left: -33.33%; 
    }
}

@media (max-width: 767px) {
    .image-wrapper {
        position: static;
        transform: none;
        width: 100%;
        margin-top: 20px;
    }
    .hero-section::before {
        width: 100%;
        height: 33.33%; 
        top: auto;
        bottom: 0;
    }
}

/* ABOUT ME */
.about-section {
    margin-top: 100px;
    margin-right: 50px;
}

.col-md .h2 {
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* SKILLS SECTION */
.progress-section {
    padding: 40px 0;
}

.progress-section h1 {
    font-weight: 600;
    margin-bottom: 40px;
}

.progress-section h1 span {
    color: #E69DB8;
    font-weight: bold;
}

.progress-section .row {
    display: flex;
    justify-content: space-between;
    /* margin-left: 50px; */
}

.progress-section .col-md-6 {
    padding: 0 15px; 
}

.progress-section .col-md-12 {
    margin-bottom: 20px; 
}

.progress-section .container {
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.progress-section .row .col-md-12 {
    line-height: 1.5; 
    font-size: 16px;
}

.progress-section .row .col-md-12 h5 {
    font-size: 1rem; 
    margin-bottom: 5px;
}

.progress-section .row .col-md-12 small {
    font-size: 0.75rem; 
}

.progress {
    height: 10px;
    margin-bottom: 5px;
}

.progress-bar {
    border-radius: 5px;
}

.progress-bar.bg-primary {
    background-color: #E69DB8 !important; 
}

.progress-bar.bg-info {
    background-color: #FF9EB8 !important; 
}

.progress-bar.bg-warning {
    background-color: #C5809A !important; 
}

.text-muted {
    font-size: 0.9rem;
}

/* Ensure responsiveness */
@media (max-width: 767px) {
    .progress-section .row {
        flex-direction: column;
    }
    .progress-section .col-md-6 {
        width: 100%;
        padding: 0;
    }
    .progress-section .col-md-12 {
        margin-bottom: 15px;
    }
}

/* MY PROJECT */
.projects-section {
    padding: 40px 0;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.project-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project-header h1 {
    font-weight: 600;
    margin: 0;
}

.project-header h1 span {
    color: #E69DB8;
    font-weight: bold;
}

.nav-tabs {
    border: none;
    margin-bottom: 0;
}

.nav-tabs .nav-link {
    color: #000;
    background-color: transparent;
    border: 1px solid #E69DB8 ; 
    border-bottom: none; 
    margin-right: 10px;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 5px 5px 0 0; 
}

.nav-tabs .nav-link:hover {
    color: #E69DB8 ;
    background-color: #fff5f7; 
    border-color: #E69DB8; 
}

.nav-tabs .nav-link.active {
    color: #E69DB8 !important;
    background-color: #fff; 
    border: 1px solid #E69DB8; 
    border-bottom: none; 
    border-bottom-color: #fff; 
}

.project-card {
    background-color: #fff;
    border: 2px solid #E69DB8 !important; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(230, 157, 184, 0.3);
    text-align: center;
    padding: 15px;
    height: 100%;

}

.project-card img {
    border-radius: 8px;
    object-fit: cover;
    height: 200px;
}

.project-card .card-body {
    padding: 10px;
}

.project-card .card-title {
    font-size: 1.25rem;
    color: #000;
}

.project-card .card-text {
    font-size: 0.9rem;
    color: #0d0c0d;
}

.project-card .text-muted {
    color: #999 !important;
}

.tab-content .card {
    background-color: #fff;
}

.card-body .btn {
    background-color: #E69DB8;
    border: none;
}

.project-details {
    padding: 40px 0;
    background: #fff;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.project-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.text-content {
    flex: 1;
    text-align: left;
}

.text-content h1 {
    font-size: 3em;
    color: #ff69b4;
    margin-bottom: 10px;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.text-content p {
    font-size: 1.1em;
    color: #000;
    margin: 5px 0;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.text-content ul {
    margin: 10px 0;
    padding-left: 20px;
}

.text-content ul li {
    color: #000;
    font-size: 1em;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.carousel {
    flex: 1;
    text-align: right;
}

.carousel img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* width: 100%;
    height: 500px; */
    object-fit: cover;
}

.text-content .links .btn {
    background-color: #E69DB8;
    color: #fff;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.btn-pink:hover {
    background-color: #ff1493;
}

.btn-yellow {
    background-color: #ffff00;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.btn-yellow:hover {
    background-color: #e6e600;
}

.links {
    margin-top: 20px;
}

/* BACK BUTTON */
.back-button-container {
    position: absolute;
    top: 80px; /* Below navbar (adjust based on navbar height) */
    left: 20px;
    z-index: 1000;
    margin-top: 40px;
}

.btn-back {
    background-color: #E69DB8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.btn-back:hover {
    background-color: #E69DB8 !important;
    color: #fff !important;;
}

.btn-back i {
    margin-right: 5px;
}


.btn-see-more:hover, .btn-see-less:hover {
    background-color: #E69DB8 !important;
    color: #fff !important;
}

/* EDUCATION AND EXPERIENCE TIMELINE */
.container.mt-5 {
    padding: 40px 0;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.container.mt-5 h2 {
    font-weight: 600;
    margin-bottom: 40px;
}

.education-timeline,
.experience-timeline {
    border-left: 3px solid #E69DB8;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0;
    position: relative;
    padding: 50px;
    list-style: none;
    text-align: left;
    width: 100%; 
}

/* EDUCATION AND EXPERIENCE TIMELINE */
.container.mt-5 {
    padding: 40px 0;
}

.container.mt-5 h2 {
    font-weight: 600;
    margin-bottom: 40px;
}

.education-timeline,
.experience-timeline {
    border-left: 3px solid #E69DB8; 
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0;
    position: relative;
    padding: 50px;
    list-style: none;
    text-align: left;
    width: 100%; 
}

.education-timeline {
    border-right: none; 
}

.experience-timeline {
    border-right: none; 
}

.education-timeline .event,
.experience-timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

.education-timeline .event:last-of-type,
.experience-timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.education-timeline .event:before,
.experience-timeline .event:before {
    position: absolute;
    display: block;
    top: 0;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

.education-timeline .event:before {
    right: -207px; 
    content: attr(data-date);
    text-align: left;
}

.experience-timeline .event:before {
    right: -207px; 
    content: attr(data-date);
    text-align: left;
}

.education-timeline .event:after,
.experience-timeline .event:after {
    box-shadow: 0 0 0 3px #E69DB8;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

.education-timeline .event:after {
    left: -56px; 
}

.experience-timeline .event:after {
    left: -56.8px;
}

/* Responsive adjustments */
@media (max-width: 767px) {
    .row {
        flex-direction: column;
    }
    .education-timeline,
    .experience-timeline {
        max-width: 98%;
        padding: 25px;
        border-left: 3px solid #E69DB8; 
    }
    .education-timeline .event:before,
    .experience-timeline .event:before {
        left: 0px; 
        text-align: left;
    }
    .education-timeline .event:after,
    .experience-timeline .event:after {
        left: -31.8px;
    }
}

/* CONTACT SECTION */
.contact-section {
    padding: 40px 0; 
    /* background-color: #E69DB8;  */
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.contact-section h2 {
    font-weight: 600;
    margin-bottom: 40px;
}

.contact-section h2 span {
    color: #E69DB8;
}

.contact-section .row {
    margin-left: 70px;
    margin-right: 70px;
}


.contact-section .form-control {
    border: 1px solid #E69DB8;
    border-radius: 5px;
    padding: 10px;
}

.contact-section .btn-secondary {
    background-color: #E69DB8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 40px;
}

.contact-section .btn-secondary:hover {
    background-color: #c5809a; 
}

.contact-section #msg {
    display: block;
    margin-top: 10px;
    color: #E69DB8;
    text-align: center;
}

/* FOOTER */
.footer {
    background-color: #E69DB8;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    padding: 20px 0;
    margin-top: 30px;
}

.social-icons a {
    color: #FFFF;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #e8427f;
}

